{%extends "layout.html"%}
{%block content%}
<div class="content_section">
    <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom md-4">
                    {{ legend }}
                </legend>
                <div class="from-group">
                    {{form.title.label(class="from-control-label")}}
                    {% if form.title.errors %}
                        {{form.title.label(class="from-control from-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.title(class="from-control from-control-lg")}}
                    {% endif %}
                </div>
                <div class="from-group">
                    {{form.content.label(class="from-control-label")}}
                    {% if form.content.errors %}
                        {{form.content.label(class="from-control from-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.content(class="from-control from-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
    </form>
</div>
{%endblock content%}