{% extends "layout.html" %}
{%block content%}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
<!--因为现在posts为paginate的返回值，所以使用posts.items-->
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"></img>
            <div class="media-body">
            <div class="article-metadata">
                <!--找到post函数，并且参数为post.id-->
                <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d, %H:%M:%S") }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    <!--这里是要做出显示当前页的附近几页和首尾的几页的效果，iter_pages函数可以帮我们完成-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.user_post', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_post', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{%endblock content%}